# os
.DS_Store

# editors
.idea/
.vscode/

# env and secrets
.env
.env.*
!.env.example

# python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.ruff_cache/
.coverage
.coverage.*

# node
node_modules/
npm-debug.log*
dist/
build/

# logs
*.log
